*{
  margin: 0;
  padding: 0;
}
body{
  background-color: darkcyan;
  /* background: url(1.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  
}
h1{
  background-color: darkcyan;
  color: rgb(185, 141, 226);
  width: 50%;
  /* margin-left: 25%; */
  margin: 0.5% 25%;
  margin-bottom: 2%;
  border: 1px solid palegoldenrod;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}
h3{
  background-color: darkcyan;
  color: rgb(185, 141, 226);
  width: 30%;
  margin: 0.5% 35%;
  border: 1px solid palegoldenrod;
  border-radius: 10px;
  cursor: pointer;
}
.container{
  background-color: blueviolet;
  /* background-image: url(2.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5% 22%;
  border: 1px solid palegoldenrod;
  border-radius: 15px;

}
input{
  padding: 5px;
  margin: 8px;
  border-radius: 10px;
  color: darkcyan;
  /* background-color: rgb(127, 168, 168); */
  /* background: transparent; */
  
}
.btn{
  color: azure;
  background-color: darkcyan;
  width: 15%;
  border-radius: 15px;
  cursor: pointer;
}
img{
  margin-left: 75%;
}
/* label{
  background-color: brown;
  background-size: 50%px;
} */
